<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
		<div class="card mx-3">
			<div class="card-body text-center my-5">
				<div class="container">
					<img src="" th:src="@{'/img/contacts.png'}" class="profile_picture rounded-circle" />
				</div>
				<h1 class="mt-2 text-secondary font-italic font-weight-light">
					Start Adding your contact on cloud...
				</h1>
				<a th:href="@{/user/add_contact}" class="btn btn-primary btn-block text-uppercase mt-4">
					Add New Contact
				</a>
			</div>
		</div>
	</section>
</body>
</html>