<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Change Password Form</title>
</head>
<body>
	<section>
		<div id="login">
	        <div class="container">
	            <div id="login-row" class="row justify-content-center align-items-center">
	                <div id="login-column" class="col-md-6">
	                    <div id="login-box" style="height: 150px;" class="col-md-12 pb-3">
	                        <form id="login-form" class="form" th:action="@{/change_password}" method="post">
	                            <div class="form-group">
	                                <label for="newPassword" class="">New Password:</label><br>
	                                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Enter new password here" required />
	                            </div>
	                            <div class="form-group text-center mt-3">
	                                <button type="submit" class="btn btn-primary btn-md text-white">Change Password</button>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>